{% extends "index.html" %}

{% block content %}
<h1 class="{{detail_class.title}}">{{detail.title}}</h1>
<div class="row mt-2 mb-1 height-10">
      {% for team in teams %}
      <div class="{{card_class.class_card}}">
            <div class="{{card_class.class_card_title}}"><h3 class="bold-6" align="center"><a href="{% url 'team_info_page'  team.id%}" class="no-line">{{team.name}}</a></h3></div>
            <div class="{{card_class.class_card_div_p}}">
                  
                  <p class="{{card_class.class_card_p}}">The {{team.name}} from {{team.town}} Some quick example info about team.<br> Last played context tournament points win lose<br> flag color  {{team.color}}</p>
                  <a href="{%url 'team_deleter' team.id%}" class="no-line">delete this team</a>
            </div>
      </div>
      <br>
      {% endfor %}
      {% include "submitTeam.html"%}


</div>


{% endblock content %}

